<div class="container my-4">
  <h2 class="text-center mb-4">All Student List</h2>

  <form
    class="mt-2 mb-2"
    [formGroup]="filterForm"
    (ngSubmit)="onfilterSubmited()"
  >
    <div class="row align-items-center g-2">
      <div class="col-auto pe-0">
        <label for="firstName" class="col-form-label">First Name</label>
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="col-auto ps-3 pe-0">
        <label for="lastName" class="col-form-label">Last Name</label>
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>
      <div class="col-auto ps-3 pe-0">
        <label for="studentClass" class="form-label">Class</label>
      </div>
      <div class="col-2">
        <select
          class="form-select"
          id="studentClass"
          formControlName="studentClass"
          required
        >
          <option [value]="'CLASS_1'">Class 1</option>
          <option [value]="'CLASS_2'">Class 2</option>
          <option [value]="'CLASS_3'">Class 3</option>
          <option [value]="'CLASS_4'">Class 4</option>
          <option [value]="'CLASS_5'" selected>Class 5</option>
        </select>
      </div>

      <div class="col-auto ps-3 pe-0">
        <label for="dateOfBirth" class="col-form-label">Date of Birth</label>
      </div>
      <div class="col-2">
        <p-calendar
          formControlName="dateOfBirth"
          dateFormat="yy-mm-dd"
          showIcon="true"
        >
        </p-calendar>
      </div>

      <div class="col-auto ps-3 pe-0">
        <label for="status" class="form-label">Status</label>
      </div>
      <div class="col-2">
        <select class="form-select" formControlName="status" required>
          <option value="" selected>ALL</option>
          <option [value]="'ACTIVE'">ACTIVE</option>
          <option [value]="'INACTIVE'">INACTIVE</option>
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-2 mb-3">
      <button type="submit" class="btn btn-primary">filter</button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Class</th>
          <th scope="col">Score</th>
          <th scope="col">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students()">
          <td>
            <img
              [src]="student.photoPath"
              alt="nophoto"
              class="rounded-circle"
              style="width: 50px; height: 50px"
            />
          </td>
          <td>{{ student.studentId }}</td>
          <td>{{ student.firstName }} {{ student.lastName }}</td>
          <td>{{ student.dateOfBirth | date : "dd-MM-yyyy" }}</td>
          <td>{{ student.studentClass }}</td>
          <td>{{ student.score }}</td>
          <td>
            <span
              class="badge"
              [class.bg-success]="student.status === 'ACTIVE'"
              [class.bg-danger]="student.status === 'INACTIVE'"
            >
              {{ student.status }}
            </span>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Action Buttons">
              <button
                class="btn btn-primary btn-sm"
                (click)="openEditModal(student)"
              >
                Edit
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="openDeleteModal(student)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="Action Buttons">
      <button
        (click)="onPreviousClicked()"
        class="btn btn-sm"
        [class.btn-primary]="page() > 0"
        [class.btn-secondary]="page()! > 0"
      >
        prev
      </button>
      <button
        (click)="onNextClicked()"
        class="btn btn-sm"
        [class.btn-danger]="!isLast() && page() > 0"
        [class.btn-secondary]="isLast() || page()! > 1"
      >
        next
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #deleteModal
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeDeleteModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p class="mb-0">
          Are you sure you want to delete {{ studentToDelete?.firstName }}
          {{ studentToDelete?.lastName }}? This action cannot be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeDeleteModal()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="confirmDelete"
          (click)="onConfirmDeleteStudent(studentToDelete)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  #editModal
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Registration</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="onEditSubmit()" [formGroup]="editStudentForm">
        <div class="modal-body">
          <div class="text-center position-relative">
            <label for="imageUpload" class="d-inline-block">
              <img
                [src]="editImageUrl"
                alt="Profile"
                [style.width.px]="150"
                [style.height.px]="150"
                style="object-fit: cover"
                class="rounded-circle img-thumbnail"
              />
              <span class="edit-text d-block text-center">Edit</span>
              <input
                type="file"
                id="imageUpload"
                class="d-none"
                formControlName="profilePhoto"
                (change)="onStudentPhotoSelected($event)"
                accept="image/*"
              />
            </label>
          </div>

          <!-- First Name and Last Name -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
                required
              />
            </div>
          </div>

          <!-- Student Class and Score -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="studentClass" class="form-label">Class</label>
              <select
                class="form-select"
                id="studentClass"
                formControlName="studentClass"
                required
              >
                <option [value]="'CLASS_1'">Class 1</option>
                <option [value]="'CLASS_2'">Class 2</option>
                <option [value]="'CLASS_3'">Class 3</option>
                <option [value]="'CLASS_4'">Class 4</option>
                <option [value]="'CLASS_5'" selected>Class 5</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="score" class="form-label">Score</label>
              <input
                type="number"
                class="form-control"
                id="score"
                formControlName="score"
                max="100"
                min="50"
                required
              />
            </div>
          </div>

          <!-- Date of Birth and Status -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <p-calendar
                formControlName="dateOfBirth"
                dateFormat="yy-mm-dd"
                showIcon="true"
              >
              </p-calendar>
            </div>
            <div class="col-md-6">
              <label for="status" class="form-label">Status</label>
              <select
                class="form-select"
                id="status"
                formControlName="status"
                required
              >
                <option [value]="'ACTIVE'">ACTIVE</option>
                <option [value]="'INACTIVE'">INACTIVE</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
