<div class="container my-4">
  <h2 class="text-center mb-4">All Student List</h2>
  <form
    class="mt-2 mb-2"
    [formGroup]="filterForm"
    (ngSubmit)="onfilterSubmited()"
  >
    <div class="row align-items-center g-2">
      <div class="col-auto pe-0">
        <label for="firstName" class="col-form-label">First Name</label>
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="col-auto ps-3 pe-0">
        <label for="lastName" class="col-form-label">Last Name</label>
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>
      <div class="col-auto ps-3 pe-0">
        <label for="dob" class="col-form-label">Date of birth</label>
      </div>
      <div class="col-2">
        <p-datepicker formControlName="dateOfBirth" />
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">filter</button>
        </div>
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Class</th>
          <th scope="col">Score</th>
          <th scope="col">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students()">
          <td>
            <img
              [src]="student.photoPath"
              alt="nophoto"
              class="rounded-circle"
              style="width: 50px; height: 50px"
            />
          </td>
          <td>{{ student.studentId }}</td>
          <td>{{ student.firstName }} {{ student.lastName }}</td>
          <td>{{ student.dateOfBirth | date : "dd-MM-yyyy" }}</td>
          <td>{{ student.studentClass }}</td>
          <td>{{ student.score }}</td>
          <td>
            <span
              class="badge"
              [class.bg-success]="student.status === 'ACTIVE'"
              [class.bg-danger]="student.status === 'INACTIVE'"
            >
              {{ student.status }}
            </span>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Action Buttons">
              <button class="btn btn-primary btn-sm">Edit</button>
              <button class="btn btn-danger btn-sm">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="Action Buttons">
      <button
        (click)="onPreviousClicked()"
        class="btn btn-sm"
        [class.btn-primary]="page() > 1"
        [class.btn-secondary]="page()! > 1"
      >
        prev
      </button>
      <button
        (click)="onNextClicked()"
        class="btn btn-sm"
        [class.btn-danger]="!isLast() && page() > 1"
        [class.btn-secondary]="isLast() || page()! > 1"
      >
        next
      </button>
    </div>
  </div>
</div>
